#chat-screen {
  background-color: var(--main-color);
  height: 500vh;
  -ms-overflow-style: none;
}

#chat-screen .alt-header {
  top: 26px;
  position: sticky;
  width: 100%;
  background-color: var(--main-color);
  box-sizing: border-box;
  z-index: 1;
  /* background-color: coral; */
}

#chat-screen .status-bar {
  z-index: 2;
  background-color: var(--nav-color);
}

#chat-screen::-webkit-scrollbar {
  display: none;
}

/* @keyframes fadIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
} */

@keyframes showBubble {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes showBubbleOwn {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  display: flex;
  flex-direction: column;
  /* justify-content: center; flex-direction: column; 대신 이렇게 해도 결과는 같음 */
  align-items: center;
  /* animation: fadIn 0.6s linear; */
}

.chat__timestamp {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 12px;
  font-size: 14px;
  border-radius: 23px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
  /* animation: showBubble 1s ease-in-out forwards; */
  /* opacity: 0; */
}

.message-row-ani1,
.message-row-ani3,
.message-row-ani3-1,
.message-row-ani5 {
  animation: showBubble 1s ease-in-out forwards;
  opacity: 0;
}

.message-row-ani2,
.message-row-ani2-1,
.message-row-ani4,
.message-row-ani4-1 {
  animation: showBubbleOwn 1s ease-in-out forwards;
  opacity: 0;
}

.message-row-ani1,
.message-row-ani2-1 {
  animation-delay: 1.5s;
}

.message-row-ani2,
.message-row-ani3-1 {
  animation-delay: 3s;
}

.message-row-ani3,
.message-row-ani4-1 {
  animation-delay: 4.5s;
}

.message-row-ani4,
.message-row-ani5 {
  animation-delay: 6s;
}

/* 왜인지 모르겠지만 이렇게 안하면 순서대로 동작 안함.. */

/* .message-row:first-child {
  animation-delay: 2s;
}
.message-row:nth-child(2) {
  animation-delay: 2s;
}
.message-row:nth-child(3) {
  animation-delay: 4s;
}
.message-row:last-child {
  animation-delay: 4s;
} */

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  margin-right: 15px;
}

.message__author {
  opacity: 0.8;
  font-size: 15px;
  margin-bottom: 5px;
  display: block;
}

.message__bubble {
  background-color: white;
  padding: 13px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 5px;
}

.message__bubble a:hover {
  color: #2f4858;
}

@keyframes rotateDot {
  0% {
    background-color: rgb(255, 255, 255);
  }
  25% {
    background-color: rgba(255, 255, 255, 0.74);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.507);
  }
  75% {
    background-color: rgba(255, 255, 255, 0.74);
  }
  100% {
    background-color: rgb(255, 255, 255);
  }
}

.message__bubble-dot-container {
  display: flex;
}

.message__bubble-dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: white;
  margin-right: 4px;
  animation: rotateDot 1.5s ease infinite;
}

.message__bubble-dot:nth-child(2) {
  animation-delay: 0.2s;
}

.message__bubble-dot:last-child {
  animation-delay: 0.4s;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__time {
  opacity: 0.8;
  font-size: 13px;
}

.message-row--own {
  justify-content: flex-end;
  /* animation: showBubbleOwn 1s ease-in-out forwards; */
}

.message-row--own .message__bubble {
  background-color: var(--coral--color);
  color: white;
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  margin-right: 0px;
  margin-left: 5px;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.message__info img {
  /* width: 150px;
  height: 120px; */
  width: 188px;
  height: 150px;
  border-radius: 5px;
  margin-left: 5px;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  box-sizing: border-box;
  align-items: center;
  transition: transform 0.3 ease-in-out;
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply i {
  opacity: 0.5;
}

.reply input {
  padding: 12px;
  width: 100%;
  border: var(--border-style);
  border-radius: 25px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 6px;
  top: 6px;
}

.reply__column:last-child i {
  right: 45px;
  top: 13px;
}

.reply__column button {
  background-color: var(--coral--color);
  color: white;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.reply__column button i {
  opacity: 1;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply .reply__column:first-child,
.reply .fa-smile,
.reply button {
  transition: opacity 0.3 ease-in-out;
}

/* .reply:focus-within : reply 내부에 focus 된 element가 있는지 확인 */
.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile,
.reply:focus-within button {
  opacity: 0;
}

.reply input:focus {
  width: 97vw;
  transform: translateX(-13%);
}

/* .reply input:focus {
  width: 98vw;
  transform: translateX(-13%) translateY(0px);
} */

/* .reply:focus-within {
  transform: translateY(80px);
} */
