/* .icon-row {
  display: flex;
  justify-content: space-between;
} */

.icon-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 100px;
  grid-gap: 10px;
  justify-content: center;
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-row__icon i {
  font-size: 30px;
}

.icon-row__icon span {
  margin-top: 18px;
  text-align: center;
  font-size: 15px;
}

.icon-row__icon:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 320px) {
  .icon-row__icon i {
    font-size: 25px;
  }
  .icon-row__icon span {
    font-size: 13px;
  }
}
