.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--blue);
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgb(17, 45, 78, 0.3);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  color: #2e363e;
}

.nav__notification {
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.nav__notification-more {
  background-color: var(--dark-blue);
  width: 6px;
  height: 6px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 40px;
  top: 20px;
}
