.popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  width: 85%;
  height: 90%;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.205);
  background-image: url("../image/1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  animation: showPopup2 0.75s;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.popup-inner button {
  background-color: transparent;
  border: none;
  color: white;
  margin: 20px;
}

.popup-inner button:hover {
  transform: scale(1.2);
}

.overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.671);
  animation: showPopup1 0.3s;
}

.poppup-content_info-username {
  color: white;
}

.poppup-content_info {
  /* background-color: yellow; */
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.poppup-content_info-img img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.poppup-content_info-username {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 25px;
}

.poppup-content_info-username span:last-child {
  font-size: 14px;
}

.poppup-content_icons {
  /* background-color: brown; */
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  /* border-radius: 0px 0px 20px 20px; */
  margin: 20px 0px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.poppup-content_icons-icon {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 20px;
}

.poppup-content_icons-icon span {
  font-size: 12px;
  margin-top: 10px;
}

@keyframes showPopup1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes showPopup2 {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
